<figure class="text-center">
  <blockquote class="blockquote">
    <h1 class="display-2">Adopt, Don't Shop</h1>
  </blockquote>
  <figcaption class="blockquote-footer">
    by Ezze Alwafai
  </figcaption>
  <br>
  <br>
  <%=  image_tag("", :alt => "adopt dont shop") %>
</figure>
