<figure class="text-center">
  <blockquote class="blockquote">
    <h1 class="display-2">Adopt, don't shop!</h1>
  </blockquote>
  <figcaption class="blockquote-footer">
    by Ezze Alwafai
  </figcaption>
  <br>
  <br>
  <%=  image_tag("puppies.jpeg", :alt => "puppies") %>
</figure>
